/*CSS styling*/

* {
    -border: 1px solid red;
}

body {
    background-color: rgb(84, 174, 223);
    font-family: "Courier New", "Monaco", "Times New Roman";
    text-align: center;
}

.desc {
    background-color: white;
    display: inline-block;
    width: 30%;
    border: 5px solid black;
    padding-right: 5px;
}

.ing {
    background-color: white;
    display: inline-block;
    border: 5px solid black;
    padding-right: 5px;
   
}

.steps {
    background-color: white;
    display: inline-block;
    border: 5px solid black;
    padding-right: 5px;
    
}

#centre {
    text-align: center;
}

img {
    border: 5px black solid;
    display: block;
    margin: auto;
    border-style: dotted;
}

h1 {
    font-weight: 1000px;
    font-size: 40px;
    text-decoration: underline;
}

.content {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}